@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

#contenedor_cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*^LOGO*/
.contenedor_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.logo_header{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.logo_header:hover{
    filter: drop-shadow(0px 0px 10px rgb(109, 198, 200));
}

/*^MENÚ*/
.contenedor_nav{
    display: flex;
    align-items: center;
}

.contenedor_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    transform: 0.2s;
}

.menu_navegacion{
    list-style: none;
}

.menu_navegacion a{
    text-decoration: none;
    color: black;
}

.menu_navegacion:hover{
    color: rgb(232, 157, 116);
    transform: scale(1.1);
}

.menu_navegacion a:hover{
    color: rgb(232, 157, 116);
}

/*^CARRITO COMPRAS*/
.contenedor_carritoCompras{
    display: flex;
    align-items: center;
}

.logo_carro_compras{
    width: 50px;
    cursor: pointer;
}

/*^BANNER*/
#contenedor_banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.texto_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    gap: 30px;
    width: 300px;
    margin-top: 70px;
}

.titulo_banner{
    width: 280px;
}

.parrafo_banner{
    width: 280px;
    margin-top: 10px;
    text-align: left;
}

.img_banner_uno{
    background-image: url(../Img/lauraoh.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: none;
    height: 510px;
    width: 120px;
}

.img_banner_dos{
    background-image: url(../Img/vacilao.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: none;
    background-position: center top;
    height: 510px;
    width: 120px;
}

.img_banner_tres{
    background-image: url(../Img/Antonella_dos.jpeg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: none;
    background-position: -10px;
    height: 510px;
    width: 120px;
}

/*^SECCION QUIENES SOMOS*/
#contenedor_seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 70px;
    gap: 40px;
}

.texto_seccion{
    width: 680px;
}

/*^CARACTERISTICAS*/
#contenedor_caracteristica{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 20px;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    width: 300px;
}

.img_caracteristicas{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.parrafo_caracteristica{
    text-align: justify;
}

/*^ ESTADISTICAS*/
#contenedor_estadistica{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.contenedor_grafica{
    width: 380px;
    background-color: rgb(128, 128, 128, 0.8);
}

/*^FOOTER*/
#contenedor_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    background-color: rgb(59, 101, 102);
}

.footer_descripcion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto_footer{
    text-align: left;
    width: 230px;
}

.footer_direccion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s;
}

.enlace_direccion_footer{
    color: black;
    width: 180px;
}

.enlace_direccion_footer:hover{
    color:  rgb(109, 198, 200);
    transform: scale(1.1);
}

.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_footer{
    width: 100px;
    padding: 10px;
}

.logo_footer:hover{
    filter: drop-shadow(0px 0px 10px rgb(109, 198, 200));
    transform: scale(1.1);
}

.footer_contactanos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista_contacto_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s;
}

.enlace_contactanos{
    color: black;
    margin-left: 5px;
}

.enlace_contactanos:hover{
    color:  rgb(109, 198, 200);
    transform: scale(1.1);
}

.footer_redes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista_redes_footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    transition: 0.2s;
}

/* Estilo de los íconos sociales */
.lista_redes_footer {
    display: flex;
    gap: 10px;
}

/* Asegurarse de que el contador esté oculto inicialmente */
#cart-count {
    display: none;
}

/* Mostrar el contador al pasar el mouse por encima del carrito */
.contenedor_carritoCompras:hover #cart-count {
    display: block;
}