.menu_hamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 10px;
}

.menu_hamburguesa .line{
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #0F6466;
    border-radius: 10px;
}

.menu_hamburguesa .line{
    top: 0;
    transform: rotate(0);
    transition: top 0.2s ease, transform 0.4s ease;
}

.menu_hamburguesa .line:nth-child(2){
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.menu_hamburguesa .line:nth-child(3){
    top: 0;
    transform: rotate(0);
    transition: top 0.2s ease, transform 0.4s ease;
}

.menu_hamburguesa.active .line:nth-child(1){
    top: 16px;
    transform: rotate(45deg);
}

.menu_hamburguesa.active .line:nth-child(2){
    opacity: 0;
    visibility: hidden;
}

.menu_hamburguesa.active .line:nth-child(3){
    top: -16px;
    transform: rotate(-45deg);
}

@media screen and (min-width: 850px){
    .menu_hamburguesa{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .contenedor_nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #D2E8E3;
        transition: transform .3s ease-in-out;
        transform: translate(110%);
        text-align: center;
    }

    .contenedor_menu{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 30vw;
        gap: 60px;
        box-shadow: rgb(0, 0, 0, .5);
    }

    .spreed{
        transform: translate(0);
    }
}

@media screen and (max-width: 780px) {
    .contenedor_menu{
        width: 300px;
    }
}

@media screen and (max-width: 700px) {
    .contenedor_menu{
        width: 200px;
    }
}

@media screen and (max-width: 346px) {
    .contenedor_menu{
        width: 160px;
    }
}
