@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

#contenedor_cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*^ Estilo del logo */
.contenedor_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.logo_header{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.logo_header:hover{
    filter: drop-shadow(0px 0px 10px rgb(109, 198, 200));
}

/*^ Estilo del menú */
.contenedor_nav{
    display: flex;
    align-items: center;
}

.contenedor_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    transform: 0.2s;
}

.menu_navegacion{
    list-style: none;
}

.menu_navegacion:hover{
    text-decoration: underline 1px;
    transform: scale(1.1);
}


/*^ Estilo del carro de compras */
.contenedor_carritoCompras{
    display: flex;
    align-items: center;
}

.logo_carro_compras{
    width: 50px;
    cursor: pointer;
}

/*^ Estilos del Banner */

